# ECMail Konfigürasyonu
SMTP_HOST=mail.siteniz.com
SMTP_PORT=465
SMTP_USERNAME=info@siteniz.com
SMTP_PASSWORD=SifrenizBuraya
SMTP_FROM_EMAIL=info@siteniz.com
SMTP_FROM_NAME=Sitenizin Adı
SMTP_DEFAULT_TO=alici@siteniz.com

# Opsiyonel POP3/IMAP Sunucu Ayarları (Verilmezse SMTP_HOST kullanılır)
POP3_HOST=mail.siteniz.com
POP3_PORT=995
IMAP_HOST=mail.siteniz.com
IMAP_PORT=993
